<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Оценка подержаного автомобиля</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/nivo-lightbox.css" rel="stylesheet" />
  <link href="/css/nivo-lightbox-theme/default/default.css" rel="stylesheet" type="text/css" />
  <link href="/css/animate.css" rel="stylesheet" />
  <!-- Squad theme CSS -->
  <link href="/css/style.css" rel="stylesheet">
  <link href="/color/default.css" rel="stylesheet">
</head>

<body data-spy="scroll">

  <div class="container">
    <ul id="gn-menu" class="gn-menu-main">
      <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
          <div class="gn-scroller">
            <ul class="gn-menu">
              <li class="gn-search-item">
                <input placeholder="Search" type="search" class="gn-search">
                <a class="gn-icon gn-icon-search"><span>Search</span></a>
              </li>
              <li>
                <a href="#about" class="gn-icon gn-icon-download">About</a>
              </li>
              <li><a href="#service" class="gn-icon gn-icon-cog">Service</a></li>
              <li><a href="#works" class="gn-icon gn-icon-help">Works</a></li>
              <li>
                <a href="#contact" class="gn-icon gn-icon-archive">Contact</a>
              </li>
            </ul>
          </div>
          <!-- /gn-scroller -->
        </nav>
      </li>
      <li><a href="index.html">used_cars</a></li>
      <li class="hidden-xs">
        <ul class="company-social">
          <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
          <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </li>
    </ul>
  </div>

  <section id="intro" class="intro">
        <div class="col-md-6">
                <div class="card card-body">
<br><br><br><br>
                    <h3 class="text-center mb-4">Ввод данных</h3>
                    <fieldset>
                        <div class="form-group has-error">
                            <input class="form-control input-lg" placeholder="Марка" name="brand" type="text">
                        </div>
                        <div class="form-group has-success">
                            <input class="form-control input-lg" placeholder="Модель" name="model" value="" type="text">
                        </div>
                        <div class="form-group has-success">
                            <input class="form-control input-lg" placeholder="Год выпуска" name="age" value="" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-lg" placeholder="Пробег" name="answer" value="" type="text">
                        </div>
                        <input class="btn btn-lg btn-primary btn-block" value="Оценить" type="submit">
                    </fieldset>
                </div>
        </div>
  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <p>&copy; used_cars training project</p>
          <div class="credits">
            2o18
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/classie.js"></script>
  <script src="js/gnmenu.js"></script>
  <script src="js/jquery.scrollTo.js"></script>
  <script src="js/nivo-lightbox.min.js"></script>
  <script src="js/stellar.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>

</body>

</html>
